@layout('layouts.main')

@section('title')
5Questions - Dashboard
@endsection

@section('content')
    <h1 class="dashboard__title">Succesfuly submited answers</h1>
    <p class="success__text">Go to the dashboard to see all answers, you must be logged in</p>
@endsection